body {
  background-color: rgb(98, 102, 104);
}

.dialogue {
  display: flex;
  flex-direction: column;
  height: max-content;
  margin: 2rem;
  width: 15rem;
  padding: 0 1rem 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: whitesmoke;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btns {
  display: flex;
  gap: 0.7rem;
  margin-left: auto;
  padding-top: 1rem;
}

.action-btn {
  border: none;
  color: rgb(79, 24, 182);
  background-color: transparent;
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.action-btn:hover {
  background-color: rgb(235, 232, 232);
}
