@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
* {
  --col-1: rgb(190, 247, 250);
}

main {
  display: flex;
}

body {
  margin: unset;
  background-color: rgb(190, 247, 250);
}

.drawer-parent {
  padding-top: 0.8rem;
  min-width: 15rem;
  background-color: white;
}

.title {
  padding-left: 0.8rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.drawer {
  padding: 0.3rem;
  padding-left: 0.5rem;
}

.out-view {
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.in-view {
  position: relative;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.last-drawer {
  padding: 0 0 0.3rem 0.5rem;
}

.subtext {
  font-size: 0.8rem;
}

.heading,
.heading1 {
  color: cornflowerblue;
  margin: 0;
  font-family: "Mochiy Pop One", sans-serif;
}

.heading1 {
  color: black;
  margin-left: 0.5rem;
}

.drawer-items {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.item {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 0.8rem;
  margin-bottom: 0.4rem;
  border-radius: 5px;
  color: rgb(70, 66, 66);
}

.item:hover {
  color: cornflowerblue;
  background-color: var(--col-1);
}

.item:active::after {
  color: cornflowerblue;
  background-color: rgb(236, 220, 243);
}

.item-name {
  margin-left: 2.5rem;
}

.hr {
  color: rgb(255, 254, 254);
}

.an {
  color: rgb(70, 66, 66);
  text-decoration: none;
  padding: unset;
  margin: unset;
}

.vertical-comp {
  transition: ease;
  /* padding: 0.1rem; */
}

.pm-drawer-header {
  display: flex;
  align-items: center;
  /* margin-left: 2rem; */
  background-color: rgb(103, 221, 195);
  height: 4.3rem;
}

p {
  padding: 0.5rem;
}

.icon {
  font-size: 1.5rem;
}
